@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}


header{
background-color: thistle;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
}

.logo{
text-decoration: none;
color: rgb(66, 62, 62);
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
}

.navigation a{
color:rgb(0, 0, 0) ;
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;
}


.navigation a:hover{
color: rgb(169, 169, 169);
}
section{
padding: 200px 200px;
padding-left: 80px;
}

.main{
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
background: url(images/COUVERTURE.png)no-repeat;
background-size: cover;
background-position: center;
}
.main h2 {
color: black;
font-size: 60px;
font-weight: 900;
}

.social a{
font-size: 100px;
padding-right: 30px;

}

.social a :hover{
color: rgb(64, 80, 160);

scroll-behavior: smooth;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }


.navigation a{
padding-left: 10px;
}

.title{

font-size: 1.8em;

}


.section{
padding: 80px 20px;

}

.main h2{
    font-size: 20px;
padding-bottom: 90px;
}

}
